<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Attacks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Available Attacks</h1>
    {% if attacks|length == 0 %}
        <p>No attacks available</p>
    {% else %}
        <p>There are {{ attacks|length }} available attacks:</p>
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Power</th>
                <th>Accuracy</th>
                <th>Action</th>
            </tr>
            {% for attack in attacks %}
            <tr>
                <td>{{ attack.id }}</td>
                <td>{{ attack.name }}</td>
                <td>{{ attack.type }}</td>
                <td>{{ attack.power }}</td>
                <td>{{ attack.accuracy }}</td>
                <td>
                    <form action="{{ url_for('delete_attack') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="attack_id" value="{{ attack.id }}">
                        <button type="submit">Delete Attack</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <hr>
    <h2>Create new attack</h2>
    <form action="{{ url_for('create_attack') }}" method="post">
        <label for ="id">Attack Identifier Number:</label>
        <input type="number" id="id" name="id" required><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required><br><br>

        <label for="ability">Power:</label>
        <input type="number" id="power" name="power"><br><br>

        <label for="accuracy">Accuracy:</label>
        <input type="number" id="accuracy" name="accuracy"><br><br>

        <button type="submit">Insert attack</button>
    </form>
    <hr>

    <p><a href="{{ url_for('index') }}">Return to main page</a></p>
    <p><a href="{{ url_for('loomians') }}">Manage available loomians in database</a></p>
    <p><a href="{{ url_for('show_parties') }}">manage loomian parties</a></p>
</body>
</html>
