<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loomian legacy management</title>
</head>
<body>
    <h1>Welcome to loomian legacy management aplication</h1>
    <p>For now this app only displays this title screen.</p>
    <p>More featurues are comming soon. Here is a list of features that will inclue</p>
    <ul>
        <li>Manage loomians</li>
        <li>Manage loomian parties</li>
        <li>Manage loomian attacks</li>
    </ul>

    <p>For now you can only see this title screen.</p>
    <p>You can find some info about loomian legacy in <a href="https://loomian-legacy.fandom.com/wiki/Loomian_Legacy_Wiki">loomian-legacy.fandom.com</a></p>
    <p>Thank you for stopping by!</p>
</body>
</html>