<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loomian legacy management</title>
</head>
<body>
    <h1>Welcome to loomian legacy management aplication</h1>
    <p>What would you like to do?</p>
    <ul>
        <li><a href="/loomians">Show available loomians</a></li>
        <li><a href="{{ url_for('show_parties') }}">Manage loomian parties</a></li>
        <li><a href="{{ url_for('show_attacks') }}">Show available attacks</a></li>
    </ul>
    <p>Special features that will be available in the future</p>
    <ul>
        <li>Add attacks to database from the Show available attacks page</li>
        <li>Add loomians to database from the Show available loomians page</li>
        <li>Removing attacks from the database</li>
        <li>Removing loomians from the database</li>
    </ul>
    <p>You can find some info about loomian legacy in <a href="https://loomian-legacy.fandom.com/wiki/Loomian_Legacy_Wiki">loomian-legacy.fandom.com</a></p>
</body>
</html>